<h2>Anasayfa</h2>
<div class="row">
    <div class="col-4">

        <div class="small-box bg-info">
            <div class="inner">
                <h3>
                    @ViewBag.musteriSayisi
                </h3>
                <p>Müşteriler</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="/Musteri/Index" class="small-box-footer">Sayfaya Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>



    <div class="col-4">

        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.KullaniciSayisi</h3>
                <p>Kullanıcılar</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/Kullanici/Index" class="small-box-footer">Sayfaya Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-4">

        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.islemlerSayisi</h3>
                <p>İşlemler</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="/Islemler/Index" class="small-box-footer">Sayfaya Git <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>
